@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    font-family: 'Gloria Hallelujah', cursive;
}

h1 {
    color: black;
    padding: 10px;
    text-align: center;
}

p {
    color:black;
    padding: 0px;
    text-align: center;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: blueviolet;
    border-width: 5px;
    width: 5%;
}

footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/***Class Selectors***/
.movie {
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.frink{
    font-family: 'Orbitron', sans-serif;
    color: black;
    float: left;
}

.docker {
    font-family: 'Orbitron', sans-serif;
    color: black;
    float: right;
    
}
div.left{
    float:left;    
}

div.right{
    float: right;
}
div.mainbody{
    background-color: #f6c945;

}