@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
    background-color: #f6c945;
    font-family: 'Gloria Hallelujah', cursive;
}

h1 {
    color: #fff;
    padding: 10px;
    text-align: center;
}

p {
    color: #fff;
    padding: 10px;
    text-align: center;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: blueviolet;
    border-width: 5px;
    width: 5%;
}


/***Class Selectors***/
.movie {
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}